<!-- <div class="container">

    <div class="row d-flex flex-column justify-content-center" style="height: 100vh;">

        <div class="column mx-auto p-4 rounded-2" style="width: 35%; box-shadow: 2px 2px 10px 3px rgb(189, 188, 188);">

            <form class="d-flex flex-column justify-content-center">
                <h2 class="mb-4 text-center">Login</h2>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Your Email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type Your Password">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>

                <p class="mt-3">Not a member? <a routerLink="/register">Register</a></p>
            </form>

        </div>

    </div>

</div> -->


<div class="container">

    <div class="row d-flex flex-column justify-content-center" style="height: 100vh;">

        <div class="column mx-auto p-4 rounded-2" style="width: 35%; box-shadow: 2px 2px 10px 3px rgb(189, 188, 188);">

            <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()"
                class="d-flex flex-column justify-content-center">

                <h2 class="mb-4 text-center">Login</h2>

                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Type Your Email" formControlName="email">
                    <div
                        *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                        <span *ngIf="loginForm.controls['email'].errors?.['required']">*Email is required</span>
                        <span *ngIf="loginForm.controls['email'].errors?.['email']">*Email should be valid</span>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Type Your Password" formControlName="password">

                    <div
                        *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                        <span *ngIf="loginForm.controls['password'].errors?.['required']">*Password is
                            required</span>
                        <span *ngIf="loginForm.controls['password'].errors?.['minlength']">*Password must be 4
                            characters long</span>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>

                <p class="mt-3">Not a member? <a routerLink="/register">Register</a></p>
            </form>

        </div>

    </div>

</div>